.Skills {
  margin: auto;
  color: #63a5c9;
  width: 90vw;
  padding-right: 0;
  font-size: 1.25rem;
  line-height: 2rem;
}

.Skills h2,
h3 {
  color: #99c8f2;
  font-weight: 400;
  margin-bottom: 5px;
}

.Skills h2 {
  font-size: 36px;
}

.Skills h3 {
  margin-top: 0;
  font-size: 28px;
}

.Skills p {
  margin: 0;
  padding: 20px 0;
}

.Underline {
  padding-bottom: 1vh;
  border-bottom: 3px solid #63a5c9;
}

.Skills li {
  font-size: 20px;
  list-style-type: none;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.Skills li:hover {
  color: #80e7f2;
  padding-left: 10px;
  transition: all ease 0.4s;
}

.SkillLists {
  display: grid;
  grid-template-areas:
    "w"
    "p"
    "o";
  grid-gap: 1vw;
  /* align-items: left; */
}

.Web {
  grid-area: w;
}

.Prog {
  grid-area: p;
}

.Other {
  grid-area: o;
}

.SkillLists div {
  justify-content: start;
  text-align: left;
}

.SkillLists ul {
  padding-left: 0;
}

.Icon {
  position: relative;
  top: 3px;
}

@media (min-width: 768px) {
  .Skills {
    width: 80vw;
  }
  .SkillLists {
    grid-template-areas:
      "w p "
      "o .";
  }
}
@media (min-width: 1024px) {
  .Skills {
    width: 70vw;
  }

  .SkillLists {
    grid-template-areas:
      "w p "
      "o .";
    /* align-items: left; */
  }
}
@media (min-width: 1280px) {
  .Skills {
    width: 60vw;
  }

  .SkillLists {
    display: grid;
    grid-template-areas: "w p o";
    /* align-items: left; */
  }
}
@media (min-width: 2096px) {
  .Skills {
    width: 50vw;
  }
  .Skills h2 {
    font-size: 60px;
  }
  .Skills p {
    margin: 40px 0;
    font-size: 40px;
    line-height: 60px;
  }
  .SkillLists {
    display: grid;
    grid-template-areas: "w p o";
    /* align-items: left; */
  }
  .Skills h3 {
    font-size: 50px;
  }
  .Skills li {
    font-size: 40px;
    line-height: 60px;
  }
}
