.About {
  margin: 20px auto;
  width: 90vw;
}

.About h2 {
  color: #99c8f2;
  font-weight: 400;
  font-size: 36px;
  margin-bottom: 5px;
}

.Underline {
  padding-bottom: 1vh;
  border-bottom: 3px solid #5a90bf;
}

.Content {
  padding: 1vh 0;
  font-size: 20px;
  line-height: 30px;
  width: 100%;
  display: grid;
  grid-template-areas:
    "t1 i "
    "t2 t2";
}

.Text1 {
  grid-area: t1;
}
.Text2 {
  grid-area: t2;
}

.Img {
  align-self: center;
  justify-self: center;
  border: solid 1px #99c8f2;
  padding: 5px;
  margin: 5px;
  border-radius: 20px;
  max-width: 120px;
  max-height: 200px;
  grid-area: i;
}

@media (min-width: 768px) {
  .About {
    width: 80vw;
  }
  .Content {
    grid-template-areas:
      "t1 i"
      "t2 i";
  }
  .Img {
    margin-left: 15px;
    max-width: 160px;
    max-height: 280px;
  }
}
@media (min-width: 1024px) {
  .About {
    width: 70vw;
  }
}
@media (min-width: 1280px) {
  .About {
    width: 60vw;
  }
}
@media (min-width: 2096px) {
  .About {
    width: 50vw;
    font-size: 64px;
  }
  .About h2 {
    font-size: 60px;
  }
  .Content {
    font-size: 40px;
    line-height: 60px;
  }
  .Img {
    max-width: 320px;
    max-height: 560px;
  }
}
