.Card {
  margin: 0;
  text-align: center;
  border: 1px solid #99c8f2;
  border-radius: 20px;
  padding: 10px;
}

.Content {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Title {
  font-size: 28px;
  margin-bottom: 28px;
}

.Image {
  width: 100%;
  opacity: 1;
  height: auto;
  border: 1px solid #99c8f2;
  border-radius: 5px;
  transition: all 0.4 ease-in-out;
  backface-visibility: hidden;
}

.Container {
  position: relative;
  width: 90%;
}

.Overlay {
  opacity: 0;
  transition: all 0.4s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.Container:hover .Image {
  opacity: 0.3;
  transition: 0.4s ease;
}

.Container:hover .Overlay {
  opacity: 1;
}

.Icon {
  font-size: 32px;
}

.TextContent {
  padding: 16px;
  font-size: 16px;
}

@media (min-width: 768px) {
}
@media (min-width: 1024px) {
}
@media (min-width: 1280px) {
}
@media (min-width: 2096px) {
  .Title {
    font-size: 40px;
  }
  .TextContent {
    font-size: 24px;
  }
  .Icon {
    font-size: 64px;
  }
}
