.Home {
  padding: 0 30px;
  height: 85vh;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

.Greeting {
  font-size: 2rem;
  font-weight: 400;
  margin: 5px 0;
}

.Name {
  color: #80e7f2;
  font-size: 4rem;
  font-weight: 400;
  margin: 0;
}

.Introduction {
  color: #99c8f2;
  font-size: 4rem;
  font-weight: 400;
  margin: 5px 0;
}

.Subtext {
  font-size: 1.25rem;
  margin: 5px 0;
}
