.Home {
  padding: 0;
  height: 100vh;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  /* padding-bottom: 20vh; */
}

.Greeting {
  line-height: 20px;
  font-size: 20px;
  font-weight: 400;
  margin: 5px 0;
}

.Name {
  color: #80e7f2;
  font-size: 40px;
  font-weight: 400;
  margin: 0;
}

.Introduction {
  color: #99c8f2;
  font-size: 40px;
  font-weight: 400;
  margin: 5px 0;
}

.Subtext {
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 40px;
}

.CallToAction {
  display: inline;
}

.ToAbout {
  font-size: 40px;
  position: absolute;
  top: 90vh;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

a:visited {
  color: #99c8f2;
}

a:active {
  color: #99c8f2;
}

.ToAbout:hover {
  color: #80e7f2;
  font-size: 45px;
  transform: translateY(10px);
  cursor: pointer;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

@media (min-width: 768px) {
  .Home {
    padding: 0 10px;
  }
  .Greeting {
    font-size: 26px;
    line-height: 26px;
  }
  .Name {
    font-size: 52px;
  }
  .Introduction {
    font-size: 52px;
  }
  .Subtext {
    font-size: 20px;
    margin-bottom: 80px;
  }
  .ToAbout {
    font-size: 60px;
  }
  .ToAbout:hover {
    font-size: 70px;
  }
}
@media (min-width: 1024px) {
  .Home {
    padding: 0 20px;
  }
  .Greeting {
    font-size: 32px;
  }
  .Name {
    font-size: 64px;
  }
  .Introduction {
    font-size: 64px;
  }
  .Subtext {
    font-size: 28px;
  }
  .ToAbout {
    font-size: 72px;
  }
  .ToAbout:hover {
    font-size: 84px;
  }
}
/* @media (min-width: 1280px) {
  .Home {
  }
  .Greeting {
  }
  .Name {
  }
  .Introduction {
  }
  .Subtext {
  }
  .ToAbout {
  }
  .ToAbout:hover {
  }
} */

@media (min-width: 2096px) {
  .Home {
    padding: 0 60px;
    padding-bottom: 20vh;
  }
  .Greeting {
    font-size: 80px;
  }
  .Name {
    margin-top: 40px;
    font-size: 120px;
  }
  .Introduction {
    font-size: 120px;
  }
  .Subtext {
    font-size: 48px;
  }
  .ToAbout {
    font-size: 120px;
  }

  .ToAbout:hover {
    font-size: 144px;
    transform: translateY(20px);
  }
}
