.Contact {
  width: 90vw;
  margin: 5vw auto;
  padding-bottom: 150px;
  margin-bottom: 0;
}

.Contact h2 {
  font-size: 30px;
}

.Contact ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding-left: 0;
}

.Contact li {
  margin: 10px;
  list-style: none;
  font-size: 20px;
}

.Link {
  font-size: 16px;
  text-decoration: none;
  color: #99c8f2;
}

.Link:visited {
  color: #99c8f2;
}
.Link::before {
  color: #99c8f2;
}
.Link::after {
  color: #99c8f2;
}

.Underline {
  padding-bottom: 1vh;
  border-bottom: 3px solid #5a90bf;
}

.Contact p {
  font-size: 20px;
}

.Icon {
  margin: 0 10px;
  font-size: 24px;
  position: relative;
  top: 5px;
}

@media (min-width: 768px) {
  .Contact {
    width: 80vw;
  }
  .Link {
    font-size: 20px;
  }
}
@media (min-width: 1024px) {
  .Contact {
    width: 70vw;
  }
}
@media (min-width: 1280px) {
  .Contact {
    width: 60vw;
  }
}
@media (min-width: 2096px) {
  .Contact {
    width: 50vw;
  }
  .Contact h2 {
    font-size: 60px;
  }
  .Contact p {
    font-size: 40px;
  }
  .Contact li {
    font-size: 40px;
  }
  .Icon {
    margin: 0 20px;
    font-size: 48px;
    position: relative;
    top: 10px;
  }
}
