.App {
  font-size: 12px;
  background-color: #05051f;
  font-family: "Raleway", sans-serif;
  color: #63a5c9;
  padding: 0 5vw;
}

h2,
h3 {
  color: #99c8f2;
  font-weight: 400;
  margin-bottom: 5px;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

@media (min-width: 768px) {
  .App {
    padding: 0 30px;
  }
}
@media (min-width: 1024px) {
  .App {
    padding: 0 30px;
  }
}
@media (min-width: 1280px) {
}
@media (min-width: 2096px) {
  .App {
    padding: 0 60px;
  }
}
