.App {
  font-size: 12px;
  background-color: #0a1b26;
  font-family: "Raleway", sans-serif;
  color: #5a90bf;
  padding: 0 30px;
}

h2,
h3 {
  color: #99c8f2;
  font-weight: 400;
  margin-bottom: 5px;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}
